<% layout("/layouts/boilerplate") %>
<h1>All Orders</h1>
<table>
  <tr>
    <th>User</th>
    <th>Items</th>
    <th>Amount</th>
    <th>Address</th>
    <th>Date</th>
  </tr>
  <% orders.forEach(order => { %>
    <tr>
      <td><%= order.user ? order.user.name : "Guest" %></td>
      <td>
        <ul>
          <% order.items.forEach(item => { %>
            <li><%= item.title %> x <%= item.quantity %></li>
          <% }) %>
        </ul>
      </td>
      <td>₹<%= order.amount %></td>
      <td><%= order.address %></td>
      <td><%= order.createdAt.toLocaleString() %></td>
    </tr>
  <% }) %>
</table>